<app-nav-ususario></app-nav-ususario>

<h1>Busqueda de Vehiculos disponibles</h1>

<h2>Aca podras realizar la busqueda de los vehiculo disponibles por el tipo de vehiculo , por favor selecciona el tipo de vehiculo
    que deseas buscar.
</h2>

<div class="container">
    <label for="tipo">Tipo de Vehiculo</label>
    <select [(ngModel)]="tipoVehiculo" (change)="buscarVehiculosDisponibles()">
        <option value="Automovil">Automovil</option>
        <option value="Camioneta">Camioneta</option>
        <option value="Campero">Campero</option>
        <option value="Microbus">Microbus</option>
        <option value="Motocicleta">Motocicleta</option>
    </select>
</div>

<div>
    <table class="vehiculos-table">
        <thead>
            <tr>
                <th>Placa</th>
                <th>Color</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let vehiculo of paginatedVehiculos">
                <td>{{vehiculo.placa}}</td>
                <td>{{vehiculo.color}}</td>
                <td><button data-bs-toggle="modal" data-bs-target="#myModal" (click)="Alquilar(vehiculo.placa)">Alquilar</button></td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Controles de paginación -->
<div class="pagination">
  <button (click)="setPage(currentPage - 1)" [disabled]="currentPage === 1">Anterior</button>
  <span>Página {{currentPage}} de {{totalPages}}</span>
  <button (click)="setPage(currentPage + 1)" [disabled]="currentPage === totalPages">Siguiente</button>
</div>

<!-- Modal para ingresar fechas del alquiler -->
<div class="modal fade" id="myModal" >
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Ingresar Fechas del Alquiler</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <br>
  
        <!-- Modal body -->
        <div class="mb-3 container">
            <label for="startDate" class="form-label">Fecha de Inicio del Alquiler</label>
            <input 
              type="date" 
              id="startDate" 
              class="form-control" 
              [(ngModel)]="startDate" 
              [attr.min]="today" 
              (change)="actualizarFechaMinima()"
            >
        </div>

        <br>
  
        <div class="mb-3 container">
            <label for="endDate" class="form-label">Fecha de Entrega del Alquiler</label>
            <input 
              type="date" 
              id="endDate" 
              class="form-control" 
              [(ngModel)]="endDate" 
              [attr.min]="startDate"
            >
        </div>
  
        <br>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" (click)="realizarAlquiler()">Guardar</button>
        </div>
  
      </div>
    </div>
  </div>

