<p class=" inicio">En Mi Cacharrito, hacemos que encontrar el coche perfecto sea fácil y accesible.
     Ofrecemos una amplia variedad de vehículos en venta y alquiler,
     desde opciones económicas hasta modelos de lujo, siempre con calidad garantizada.</p>

     <p> 
        ¿Qué estás esperando? ¡Encuentra tu coche ideal hoy mismo!
     </p>

     <section id="venta">
      <h2>Vehículos</h2>
      <div class="car-grid">
        <!-- Campero -->
        <div class="car">
          <img src="assets/Campero.png" alt="Campero">
          <h3>Campero</h3>
          <p>Precio: $30,000</p>
        </div>
        <!-- Ford Mustang -->
        <div class="car">
          <img src="assets/Ford_Mustang_Shelby_G.T._500.jpg" alt="Ford Mustang">
          <h3>Ford Mustang</h3>
          <p>Precio: $45,000</p>
        </div>
        <!-- Automóvil -->
        <div class="car">
          <img src="assets/Nissan_X-Trail_e-Power_IMG_9865.jpg" alt="Automóvil">
          <h3>Automóvil</h3>
          <p>Precio: $25,000</p>
        </div>
        <!-- Camioneta -->
        <div class="car">
          <img src="assets/PLANTILLA-mitubishi-montero-sport.jpg" alt="Camioneta">
          <h3>Camioneta</h3>
          <p>Precio: $35,000</p>
        </div>
        <!-- Micro Bus -->
        <div class="car">
          <img src="assets/images.jpg" alt="Micro Bus">
          <h3>Micro Bus</h3>
          <p>Precio: $40,000</p>
        </div>
        <!-- Motocicleta -->
        <div class="car">
          <img src="assets/GSXR1000-1024x676.jpg" alt="Motocicleta">
          <h3>Motocicleta</h3>
          <p>Precio: $15,000</p>
        </div>
      </div>
    </section>
    
  


     <footer>
        siguenos en nuestras redes sociales
        <a href="https://www.facebook.com/sebastian.lemus2312"><img src="https://img.icons8.com/ios/50/000000/facebook.png"/></a>
        <a href="https://www.instagram.com/axelis_b?igsh=MTExaDlrMzk4bzdwMg=="><img src="https://img.icons8.com/ios/50/000000/instagram-new.png"/></a>
        <a href="https://x.com/unkunow777?s=21"><img src="https://img.icons8.com/ios/50/000000/twitter.png"/></a>
     </footer>