/* Estilos generales */
.inicio {
  font-size: 1.2em;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 20px;
}

#venta h2 {
  text-align: center;
  margin-bottom: 20px;
}

.car-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.car {
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.car:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.car img {
  max-width: 100%;
  border-radius: 10px;
}

.car button {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.car button:hover {
  background-color: #0056b3;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #1a81e8;
  margin-top: 20px;
  position: relative;
  z-index: 1;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.inicio {
  flex: 1;
}
 p {
  text-align: center;
}
.social-links a {
  margin: 0 10px;
  display: inline-block;
}

.social-links img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0.8;
}

.social-links img:hover {
  transform: scale(1.2);
  opacity: 1;
}