<br>
<p class="inicio">
  En <strong>Mi Cacharrito</strong>, hacemos que encontrar el coche perfecto sea fácil y accesible.
  Ofrecemos una amplia variedad de vehículos en venta y alquiler, desde opciones económicas hasta modelos de lujo, siempre con calidad garantizada.
</p>

<p>
  <em>¿Qué estás esperando? ¡Encuentra tu coche ideal hoy mismo!</em>
</p>

<section id="venta">
  <h2>Vehículos</h2>
  <div class="car-grid">
    <!-- Campero -->
    <div class="car">
      <img src="assets/Campero.png" alt="Campero">
      <h3>Campero</h3>
      <p>Precio: <strong>$30,000</strong></p>
    </div>
    <!-- Ford Mustang -->
    <div class="car">
      <img src="assets/Ford_Mustang_Shelby_G.T._500.jpg" alt="Ford Mustang">
      <h3>Ford Mustang</h3>
      <p>Precio: <strong>$45,000</strong></p>
    </div>
    <!-- Automóvil -->
    <div class="car">
      <img src="assets/Nissan_X-Trail_e-Power_IMG_9865.jpg" alt="Automóvil">
      <h3>Automóvil</h3>
      <p>Precio: <strong>$25,000</strong></p>
    </div>
    <!-- Camioneta -->
    <div class="car">
      <img src="assets/PLANTILLA-mitubishi-montero-sport.jpg" alt="Camioneta">
      <h3>Camioneta</h3>
      <p>Precio: <strong>$35,000</strong></p>

    </div>
    <!-- Micro Bus -->
    <div class="car">
      <img src="assets/images.jpg" alt="Micro Bus">
      <h3>Micro Bus</h3>
      <p>Precio: <strong>$40,000</strong></p>
    </div>
    <!-- Motocicleta -->
    <div class="car">
      <img src="assets/GSXR1000-1024x676.jpg" alt="Motocicleta">
      <h3>Motocicleta</h3>
      <p>Precio: <strong>$15,000</strong></p>
    </div>
  </div>
</section>

<footer>
  <p>Síguenos en nuestras redes sociales:</p>
  <div class="social-links">
    <a href="https://www.facebook.com/sebastian.lemus2312" target="_blank">
      <img src="https://img.icons8.com/ios/50/000000/facebook.png" alt="Facebook">
    </a>
    <a href="https://www.instagram.com/axelis_b?igsh=MTExaDlrMzk4bzdwMg==" target="_blank">
      <img src="https://img.icons8.com/ios/50/000000/instagram-new.png" alt="Instagram">
    </a>
    <a href="https://x.com/unkunow777?s=21" target="_blank">
      <img src="https://img.icons8.com/ios/50/000000/twitter.png" alt="Twitter">
    </a>
  </div>
  <p>&copy; 2023 Mi Cacharrito. Todos los derechos reservados.</p>
</footer>

