<br>
<h1>Busqueda de Vehiculos disponibles</h1>

<br><br>
<div class="container">
    <label for="tipo">Tipo de Vehiculo</label>
    <select id="tipo" [(ngModel)]="tipoVehiculo" (change)="buscarVehiculosDisponibles()">
        <option value="Automovil">Automovil</option>
        <option value="Camioneta">Camioneta</option>
        <option value="Campero">Campero</option>
        <option value="Microbus">Microbus</option>
        <option value="Motocicleta">Motocicleta</option>
    </select>
</div>

<div>
    <table class="container">
        <thead>
            <tr>
                <th>placa</th>
                <th>color</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let vehiculo of vehiculosDiponibles" >
                <td>{{vehiculo.placa}}</td>
                <td>{{vehiculo.color}}</td>
            </tr>
        </tbody>
    </table>
</div>

